* {
	// background-color: #ffffff;
	// margin: 30px;
}

/* for the who has Noah's unicycle page */

body {
	height: 100%;
	text-align: center;
}

#answer {
	display: inline-block;
    margin-top: 75px;
	font-weight: bold;
	font-size: 120pt;
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: black;
}